<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Index Page
    <div th:each="member : ${members}">
        <a th:href="@{/members/{no}(no=${member.no})}">
            <div th:text="${member.name}">이름</div>
            <div>
                <div>
                    진행률
                </div>
                <div>
                    <div th:text="${member.total}">전체 프로젝트 수</div>
                    <div th:text="${member.completeProjectsNum}">완료 프로젝트 수</div>
                    <div th:text="${member.ratio}">완료률</div>
                </div>
            </div>
        </a>
    </div>
</body>
</html>