<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MEMBER DETAIL</title>
    <div>
        <div th:text="${member.name}">멤버 이름</div>
        <div>
            <div th:each="project: ${projectList}">
                <div>
                    <div>
                        진행률
                    </div>
                    <div>
                        <div th:text="${project.contents}"></div>
                        <div th:text="${project.projectType}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</head>
<body>

</body>
</html>