<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/header :: head"></head>
<body class="bg-light">
<div th:replace="~{fragments/navbar.html}"></div>
<div class="container my-5">
    <div id="rankContainer" class="row g-4">
        <!-- Thymeleaf rendering rank items here -->
        <div th:each="rank, iterStat : ${rankList}" class="col-md-12">
            <div th:if="${rank != null}"
                 th:replace="~{fragments/rank :: rankItem(rank=${rank}, rankIndex=${iterStat.index + 1})}"></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        let currentCode = 2;
        function loadRankData() {
            $("#rankContainer").load(`/members/fragments/rank/${currentCode}`, function(response, status, xhr) {
                if (status === "error") {
                    console.log("로드 실패");
                }
            });
            currentCode = currentCode === 2 ? 1 : 2;
        }

        // 최초 실행 + 이후 5초 간격으로 반복
        loadRankData();
        setInterval(loadRankData, 5000);
    });
</script>

</body>
</html>
