<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.service.management.system.mapper.CommentMapper">
    <sql id="searchSql">
        <where>
            <include refid="search"></include>
        </where>
    </sql>
    <sql id="search">
        <if test="projectFk != 0">
            AND c.projectFk=#{projectFk}
        </if>
    </sql>
    <select
        id="list"
        parameterType="com.service.management.system.domain.comment.Comment"
        resultType="com.service.management.system.domain.comment.Comment"
    >
        SELECT
        c.no,
        c.projectFk,
        c.memberFk,
        c.contents,
        c.groupNo,
        c.step,
        c.depth,
        c.registerDate,
        GROUP_CONCAT(storeFilename) AS storeFilenames,
        GROUP_CONCAT(originalFilename) AS originalFilenames
        FROM comments c
        LEFT JOIN fileobjects fo
        ON c.no = fo.commonNo AND fo.tablename = 'comments'
        <include refid="searchSql"></include>
        GROUP BY c.no
        ORDER BY groupNo ASC, step ASC, depth ASC, registerDate ASC
    </select>
    <insert
        id="insert"
        parameterType="com.service.management.system.domain.comment.Comment"
    >
        <selectKey
            keyProperty="no"
            resultType="int"
            order="AFTER"
        >
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO comments (
        projectFk,
        memberFk,
        contents,
        groupNo,
        step,
        depth
        ) VALUES (
        #{projectFk},
        #{memberFk},
        #{contents},
        #{groupNo},
        #{step},
        #{depth}
        )
    </insert>

    <select
        id="getMaxStep"
        parameterType="com.service.management.system.domain.comment.Comment"
        resultType="int"
    >
        <![CDATA[
            SELECT IFNULL(MAX(step), #{step})
            FROM comments
            WHERE step > #{step}
            AND step < (
                SELECT IFNULL(MIN(step), 2147483647)
                FROM comments
                WHERE step > #{step}
                AND depth <= #{depth}
                AND groupNo = #{groupNo}
            )
            AND depth = #{depth} + 1
            AND groupNo = #{groupNo}
            AND projectFk = #{projectFk}
        ]]>
    </select>

    <!-- 대댓글을 생성할때 사용한다. -->
    <update
        id="updateStep"
        parameterType="com.service.management.system.domain.comment.Comment"
    >
        UPDATE comments SET step = step + 1 WHERE step >= #{step} AND projectFk=#{projectFk}
    </update>

    <!-- 댓글을 생성할 때 사용한다 -->
    <select
        id="getMaxGroupNo"
        parameterType="com.service.management.system.domain.comment.Comment"
        resultType="int"
    >
        SELECT IFNULL(MAX(groupNo), 0) FROM comments WHERE projectFk=#{projectFk}
    </select>
</mapper>