<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
    namespace="com.service.management.system.mapper.ProjectAreaMapper"
>
    <insert
        id="insert"
        parameterType="com.service.management.system.domain.projectArea.ProjectArea"
    >
        INSERT INTO project_area (
            projectFk,
            areaFk
        ) VALUES (
            #{projectFk},
            #{areaFk}
        )
    </insert>

</mapper>