<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.service.management.system.mapper.ProjectMapper">
    <sql id="searchSql">
        <where>
            <include refid="search"></include>
        </where>
    </sql>
    <sql id="search">
        <if test="memberFk != null">
            AND memberFk=#{memberFk}
        </if>
    </sql>
    <select
        id="list"
        parameterType="com.service.management.system.domain.project.Project"
        resultType="com.service.management.system.domain.project.Project"
    >
        SELECT *
        FROM projects
        <include refid="searchSql"></include>
    </select>
    <select
        id="read"
        parameterType="com.service.management.system.domain.project.Project"
        resultType="com.service.management.system.domain.project.Project"
    >
        SELECT
        p.no,
        p.contents,
        p.requestDate,
        p.expectedDate,
        p.completeDate,
        p.projectType,
        p.registerDate,
        a.contents AS area,
        GROUP_CONCAT(DISTINCT pm.memberFk) AS memberFks,
        GROUP_CONCAT(DISTINCT fo.storeFilename) AS storeFilenames,
        MAX(c.groupNo) AS commentMaxGno
        FROM projects p
        LEFT OUTER JOIN fileobjects fo
        ON p.no = fo.commonNo AND fo.tablename = 'projects'
        INNER JOIN project_member pm
        ON pm.projectFk = p.no
        INNER JOIN areas a
        ON a.no = p.areaFk
        LEFT OUTER JOIN comments c
        ON p.no = c.projectFk
        WHERE p.no = #{no}
        GROUP BY pm.projectFk, fo.commonNo, c.projectFk;
    </select>
    
    <insert
        id="insert"
        parameterType="com.service.management.system.domain.project.Project"
    >
        <selectKey
            keyProperty="no"
            resultType="int"
            order="AFTER"
        >
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO projects (
        areaFk,
        contents,
        requestDate,
        expectedDate,
        completeDate,
        projectType
        ) VALUES (
        #{areaFk},
        #{contents},
        #{requestDate},
        #{expectedDate},
        #{completeDate},
        #{projectType}
        )
    </insert>
</mapper>