<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
    namespace="com.service.management.system.mapper.ProjectMemberMapper"
>
    <sql id="searchSql">
        <where>
            <include refid="search"></include>
        </where>
    </sql>

    <sql id="search">
        <if test="memberFk != 0">
            AND project_member.memberFk = #{memberFk}
        </if>
        <if test="daysRemaining != 0">
            DATEDIFF(projects.expectedDate, CURRENT_DATE) >= 0 AND DATEDIFF(projects.expectedDate, CURRENT_DATE) = #{daysRemaining}
        </if>
    </sql>


    <insert
        id="insert"
        parameterType="com.service.management.system.domain.projectMember.ProjectMember"
    >
        INSERT INTO project_member (
            projectFk,
            memberFk
        ) VALUES (
            #{projectFk},
            #{memberFk}
        )
    </insert>
    <select
        id="listRemainingMembers"
        parameterType="com.service.management.system.domain.projectMember.ProjectMember"
        resultType="com.service.management.system.domain.projectMember.ProjectMember"
    >
        SELECT
        members.name,
        members.email,
        DATEDIFF(projects.expectedDate, CURRENT_DATE) AS daysRemaining
        FROM project_member
        INNER JOIN projects
            ON project_member.memberFk = projects.no
        INNER JOIN members
            ON members.no = project_member.projectFk
        <include refid="searchSql"></include>
    </select>
    <select
        id="list"
        parameterType="com.service.management.system.domain.projectMember.ProjectMember"
        resultType="com.service.management.system.domain.projectMember.ProjectMember"
    >
        SELECT *
        FROM project_member
        INNER JOIN projects
        ON project_member.projectFk = projects.no
        <include refid="searchSql"></include>
    </select>
</mapper>